.statement {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: hsl(207, 62%, 56%);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.number {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 30px;
}
.info {
  font-size: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  min-width: 150px;

  border-radius: 15px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
}
.button:first-child:hover {
  background-color: rgba(38, 211, 38, 0.385);
  color: white;
}
.button:last-child:hover {
  background-color: rgba(228, 59, 59, 0.385);
  color: white;
}
.modalbgc {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.54);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}
.modalDeactiveStatement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  border-radius: 20px;
  background-color: hsl(217, 57%, 15%);
}
.modalDeactiveStatement h3 {
  text-align: center;
}
.buttonsModal {
  display: flex;
  justify-content: center;
}
.buttonModal {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: hsl(207, 62%, 56%);
  color: white;
  cursor: pointer;
  border: none;
}
.buttonModal:first-child {
  margin-right: 50px;
}

.buttonModal:first-child:hover {
  background-color: rgba(228, 59, 59, 0.385);
  color: white;
}
.buttonModal:last-child:hover {
  background-color: rgba(38, 211, 38, 0.385);
  color: white;
}
.select {
  font-size: 12px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.buttonSelect {
  position: relative;
}
.changeStat {
  position: absolute;
  right: 0px;
  top: 30px;
  display: flex;
  flex-direction: column;
  width: 150px;

  border: 1px solid black;
}
.changeStat button {
  border: none;

  cursor: pointer;
}
.changeStat button:not(:last-child) {
  border-bottom: 1px solid black;
}
.changeStat button:hover {
  background-color: hsl(207, 62%, 56%);
  color: white;
}
