.root {
  min-height: 90vh;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
summary {
  padding: 10px 0px 10px 20px;
  background-color: hsl(207, 62%, 56%);
  cursor: pointer;
  color: white;
}
summary:hover {
  color: gold;
  background-color: hsl(217, 57%, 15%);
}
details[open] > summary {
  color: gold;
  background-color: hsl(217, 57%, 15%);
}
.pageInfo {
  padding: 20px 0px;
  font-size: 30px;
}
.pageInfo h2 {
  margin: 0px;
}
.personInformation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.infoBlock {
  padding: 10px;
  border: 1px solid hsl(207, 62%, 56%);
  border-radius: 15px;
  margin: 10px 20px;
  color: white;
  background-color: hsl(207, 62%, 56%);
}
.infoBlock p {
  font-size: 18px;
}
.statements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1100px) {
  .statements {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 710px) {
  .statements {
    grid-template-columns: repeat(1, 1fr);
  }
}
.statementsClear {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.statementsClear h3 {
  color: black;
  font-size: 35px;
  border-bottom: 1px solid black;
}

.line {
  height: 40px;
  background-color: hsl(217, 57%, 15%);
}
.sendStatement {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  background-color: hsl(207, 62%, 56%);
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.sendStatement:hover {
  background-color: hsl(217, 57%, 15%);
  color: gold;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons button {
  width: 200px;
  height: 80px;
  padding: 5px;
  margin: 0px 20px;
  border-radius: 15px;
  border: none;
  background-color: hsl(207, 62%, 56%);
  color: white;
  font-size: 22px;
  margin-bottom: 50px;
  cursor: pointer;
}
@media screen and (max-width: 470px) {
  .buttons button {
    font-size: 16px;
    width: auto;
    height: auto;
  }
}

.buttons button:hover {
  background-color: hsl(217, 57%, 15%);
  color: gold;
}
