.redirectProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.box {
  width: 550px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(207, 47%, 43%);
  border-radius: 30px;
}
.redirectProfile button {
  border: none;
  outline: none;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: 20px;
  margin-top: 30px;
  color: white;
  background-color: hsl(207, 58%, 55%);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  max-width: 300px;
  box-sizing: border-box;
}
.redirectProfile button:hover {
  transform: scale(1.1);
  background-color: hsl(207, 82%, 39%);
}
.redirectProfile p {
  color: white;
  font-size: 25px;
  width: 300px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 360px) {
  .box {
    width: 100%;
    border-radius: 0px;
  }
  .box p {
    width: 100%;
  }
}
