.nameBlock {
  font-size: 30px;
  text-align: left;
  margin-bottom: 30px;
}
.listLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media screen and (max-width: 1000px) {
  .listLinks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .listLinks {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.item_img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nameInfo {
  margin: 0px;
}
.linkInfo {
  color: rgba(48, 123, 120, 0.834);
}

.linkInfo::after {
  content: ">";
}
