.name {
  margin-left: 10px;
  margin: auto 10px;
  color: white;
  font-size: 14px;
  text-align: center;
}
.logo {
  width: 90%;
  height: 90%;
  margin-left: 10px;
}
.place {
  height: 5vh;
  display: flex;
  justify-content: left;
}
h1:last-child {
  display: none;
}
@media screen and (max-width: 1100px) {
  .name {
    font-size: 10px;
  }
}
@media screen and (max-width: 560px) {
  h1:first-child {
    display: none;
  }
  h1:last-child {
    display: block;
  }
}
