h2 {
  margin-bottom: 0px;
  color: black;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px 20px;
}
.formMarried {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.inputs:nth-child(2n) {
  margin-left: 100px;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px;
  position: relative;
}

.inputBlock label {
  font-size: 20px;
  width: 400px;
  color: rgb(45, 30, 183);
}
.input {
  font-size: 16px;
  width: 400px;
  border: 0px;
  outline: none;
  border-bottom: 1px solid black;
}
.errorMessage {
  position: absolute;
  font-size: 12px;
  color: red;
  left: 0px;
  top: 70px;
}
.errorMessageSerPas {
  position: absolute;
  font-size: 12px;
  color: red;
  left: 0px;
  top: 23px;
}
.documentBlock {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.numSerPas {
  padding: 20px 0px 0px;
  display: flex;
  color: black;
}
.serPas {
  width: 60%;
  position: relative;
}
.numPas {
  width: 80%;
  position: relative;
}
.serPas input {
  margin-left: 5px;
  width: 60%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.numPas input {
  margin-left: 5px;
  width: 85%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.form button {
  border: none;
  outline: none;
  background-color: hsl(207, 47%, 43%);
  font-size: 20px;
  margin-top: 30px;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  max-width: 300px;
}
.form button:hover {
  transform: scale(1.1);
}
.radioBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  position: relative;
}
.radios {
  display: flex;
}
.radioBlock p {
  font-size: 20px;
  color: rgb(45, 30, 183);
}
.errorMessageRadio {
  position: absolute;
  left: 230px;
  top: 50px;
  color: red;
  font-size: 12px;
}
.radio {
  display: flex;
}
.radio input {
  width: 30px;
}

@media screen and (max-width: 1024px) {
  .formMarried {
    flex-direction: column;
  }
  .inputs:nth-child(2n) {
    margin-left: 0px;
  }
  .input {
    width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .inputBlock label {
    font-size: 18px;
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .documentBlock {
    width: 100%;
  }
  .numPas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .numPas input {
    width: 60%;
  }
  .serPas {
    width: 80%;
  }
  .serPas input {
    width: 55%;
  }
  .numSerPas label {
    font-size: 14px;
  }
}
