p {
  padding: 0;
}
footer {
  background-color: hsl(217, 57%, 15%);
  color: white;
}

.wid {
  max-width: 1170px;
  margin: 0 auto;
}

.top {
  height: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.top p {
  margin-left: 10px;
}

.bot {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.Icon {
  width: 50px;
  height: 50px;
}
.vkIcon {
  width: 50px;
  height: 40px;
}

.sites {
  display: flex;
  text-align: center;
  align-items: center;
}
