body {
  margin: 0 auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 300;
}
h1 {
  margin: 0px auto;
  padding: 0px;
}

a {
  text-decoration: none;
}
.main {
  max-width: 1170px;
  margin: 0 auto;
}
